<!--admin/pages/edit-->
<div id="page_edit">
	<%= render :partial => "form", :locals => { :page => @page, :button_value => "Update" } %>
</div>

<div id="directions">
	<%= link_to "<< Back", admin_pages_path %>
	<%= link_to "Show", admin_page_path(@page) %> (changes will not be saved)
</div>

