<!--admin/pages/new-->
<div id="page_new">
  <%= render :partial => 'form', :locals => { :page => @page, :button_value => 'Create' } %>
</div>
<div id="directions">
	<%= link_to "<< Back", admin_pages_path %>
</div>

