<!--common one; requires variable "article"-->
<div class="medium_preview my_border">
	<div class="article_header">
	  <%= link_to article.title, article, :class => "article_title" %><br>
		<span class="article_author">by <%= article.author %></span>
	</div>

	<div class="article_image">
		<%= link_to ( image_tag article.photo.url(:thumb), :class => "article_image" ), article %>
	</div>

	<div class="article_teaser">
		<%= article.teaser %>
	</div>
</div>

