<!--partial used in sidebar; with image; requires 'article' variable-->
<div class="small_preview">
	<%= link_to truncate(article.title, :length=>50, :separator=>" "), article %><br>
	<div>
		<%= link_to ( image_tag article.photo.url(:thumb), :class => "small_article_image" ), article %>
	</div>
	<%= truncate article.teaser, :length=>70, :separator=>" " %>
</div>