<!--admin/articles/edit-->
<div id="article_edit">
	<%= render :partial => "admin/articles/partials/form", :locals => { :article => @article, :button_value => "Update" } %>
</div>

<div id="directions">
	<%= link_to "<< To all articles", admin_articles_path %>
	<%= link_to "Show", article_path(@article) %> (changes will not be saved)
</div>

