<!--admin/articles/index - backside front page-->
I am the backside's home page. Oh wait.  I might need this to list all articles... right?
<br>
<br>
<div id="front_page">
	<% for article in @articles %>
		<%= render :partial => "article", :locals => { :article => article } %>
	<% end %>
</div>
