<!--admin/articles/new-->
<h3>New Article</h3>

<div id="article_new">
	<%= render :partial => "admin/articles/partials/form", :locals => { :article => @article, :button_value => "Create" } %>
</div>

<div id="directions">
	<%= link_to "<< Back", admin_articles_path %>
</div>

