<!--articles/article_preview partial; common one; requires variable "article"-->
<div class="article_preview">
	<div class="article_header">
		<span class="article_title"><%= article.title %></span><br>
		<span class="article_author">by <%= article.author %></span>
	</div>
	
	<div class="article_image">
		<%= image_tag article.photo.url(:thumb), :class=>"article_image" %>
	</div>
	
	<div class="article_teaser">
		<%= article.teaser %>
	</div>
</div>