<!--articles/show-->
<div id="article_show">
	<div id="article_show_header">
	  <%= render :partial => 'articles/partials/article_show_header', :locals => { :article => @article } %>
	</div>
	<div id="article_image">
		<%= image_tag @article.photo.url, :class=>"article_image" %>
	</div>
	<div id="article_show">
		<%= @article.body %>
	</div>
</div>

