<!--articles/article_controls partial; requires variable 'article'-->
<!--used by _article & _section_article partials-->
<%= link_to "Show", article, :class => "button_like" %>
<%= link_to 'Edit', edit_admin_article_path(article), :class => "button_like" %>
<%= link_to 'Delete', admin_article_path(article), :class => "button_like", :method => :delete, :confirm => "Are you sure you want to delete this article?" %>

<% unless current_user.role == "poster" %><!--confining ability to sort-->
	<span class="handle pointer">[drag]</span>
<% end %>