/* =============================================== */
/* HEADER																					 */
/* =============================================== */
#header{
	width: 950px;
	height: 60px;
	margin: 10px auto;
	padding: 0;
}
a#top_text {
	font-size: 24px;
	font-weight: bold;
	text-decoration: none;
	color: black;
}
a#top_text:hover {
	color: #FDD44A;
}
#top_subtext{
	display: block;
	margin-left: 6px;
	font-weight: 650;
	font-family: arial, times, serif;
}
#login_area{
	float: right;
}
/* =============================================== */
/* FOOTER																					 */
/* =============================================== */
#footer { 
	width: 950px;
	background: white;
	margin:0 auto;
	padding:0;
}
#ft ul{
	margin:0; padding:0;
	margin-left: 20px;
}
#ft ul li {
	list-style-type: none;
	color: #C35617;
}
#ft ul li a {
	color: #C35617;
}
#login_area{
	margin: 0 auto;
	float: right;
}
#login_form{
	width: 950px;
	margin: 0 auto;
	padding: 0;
	background: #ddd;
}
a#login_activator:hover {
	color: #FDD44A;
	text-decoration: none;
}
/* =============================================== */
/* SIDEBAR																				 */
/* =============================================== */
#left_sidebar{

}
#right_sidebar{

}
