/* PREVIEWS IN GENERAL (except display) */
img.article_image{
	margin: 5px 10px 10px 10px;
}
div#article_beginning{
}
/* =============================================== */
/* MEDIUM_PREVIEW								                 */
/* =============================================== */
div.medium_preview{
	display: block;
	width: 550px; /* determined by span-14*/
	height: 250px;
}
div.article_header{
	font-family: serif;
}
a#article_title_medium{
	color: black;
	font-size: 20px;
	text-decoration: none;
}
a#article_title_medium:hover{
	color: #FDD44A;
}
div.article_teaser{
}
/* =============================================== */
/* LARGE_PREVIEW    	      					             */
/* =============================================== */
div#large_article_preview{
display: block;
width: 550px; /* determined by span-14*/
height: 400px;
margin-bottom: 10px;
}
div#article_header_top{
font-family: serif;
}
a#article_title_top{
color: black;
font-size: 26px;
font-weight: bold;
text-decoration: none;
}
a#article_title_top:hover{
color: #FDD44A;
}
div#article_image_top{
float: right;
}
div#article_teaser_top{
margin-bottom: 10px;
}
/* =============================================== */
/* Article Index								                 */
/* =============================================== */
#article_index {
	margin: 10px 10px 10px 0;
}
#article_list {
	list-style-type: none;
	margin: 10px 0;
}
#article_list ul li {
	display: inline-block;
	margin: 4px 0;
}
#article_list ul:hover {
	background: #ffddaa;
}
#article_list li.article_position{
	position: absolute;
}
#article_list li.article_title{
	position: relative;
	margin-left: 40px;
	width: 200px;
}
#article_list li.article_author{
	position: relative;
	margin-left: 20px;
	width: 100px;
}
#article_list li.article_section{
	position: relative;
	margin-left: 20px;
	width: 100px;
}
#article_list li.article_date{
	position: relative;
	margin-left: 10px;
	width: 100px;
}
#article_list li.article_controls{
	position: relative;
	margin-left: 20px;
	width: 180px;
}
#article_list_headers li {
	font-weight: bold;
}

