/*========================================================*/
/* COLOR GUIDE                                            */
/*========================================================*/
/*
dark grey #464337
light grey #a2a19b
blue link #06f
h3 yellow border #ffd735
alt blue light #e1ecff
alt blue dark #94beff
dark orange3 #C35617

sunny orange (like unselected tab) #FDD44A
gold2 #EAC117
goldenrod2 #E9AB17
sienna #8A4117
jquery button yellow #FED54D
========================================================= */

/*========================================================*/
/*                  Table of Contents                     */
/*========================================================*/
/*  0. GENERAL
/*  1. SECTION
/*  2. HEADER
/*  3. USER
/*  4. SIDEBAR
/*========================================================*/

/* =============================================== */
/*  0. GENERAL
/* =============================================== */
div.classic{ /* for the central area of the backside, e.g. users index */
width: 890px;
background: white;
border: 5px outset #464337;
margin-top: 25px;
padding: 10px;
margin: 0;
}
.handle {
  font-size: 12px;
  cursor: pointer;
  color: #777;
}
div.hor_divider{
float: left;
width: 910px;
border-top: 1px solid black;
margin: 5px 0;
}
div.vert_divider{ /* used by #show_page */
float: left;
height: 100%;
border-left: 1px solid black;
padding-left: 10px;
}
a.myButton{
background: #FED54D;
color:#4C3000;
font-size: 12px;
font-weight: bold;
font-family: Lucida, sans-serif;
padding: 3px 6px;
border: 1px solid #C35617;
}
a.myButton:hover{
color:black;
background: #FEE9A0;
}
/* =============================================== */
/*  1. SECTION
/* =============================================== */
#sections_index{
width:300px;
margin: 0;
padding: 0;
}
#sections_index li{
list-style-type: none;
}
#sections_index li ul.sections_inner{
margin: 0;
padding: 0;
}
#sections_index li ul.sections_inner:hover{
background: #EEE;
}
ul.sections_inner li a{
text-decoration: none;
padding: 4px 6px;
}
ul.sections_inner li a:hover{
background: gray;
}
/* =============================================== */
/*  2. HEADER
/* =============================================== */
/* hd_left*/
#hd_title-1 a{ 
color: black;
font-weight: bolder;
font-size: 24px;
}
#hd_title-2{
color: black;
font-family: times, arial, serif;
font-weight: bolder;
font-size: 16px;
line-height:0.9em;
}
/* hd_right */
div#search_area{
}
div#top_buttons{
}
#top_buttons a:hover{
color: black;
}
div#login_area{
}
/* =============================================== */
/*  3. USER
/* =============================================== */
div#users_index{

}
/* =============================================== */
/*  4. SIDEBAR
/* =============================================== */
#left_sidebar{

}
#right_sidebar{

}