/* =============================================== */
/* Layout						                   */
/* =============================================== */
li.section_item{
	display: inline;
	margin: 0 10px;
	padding: 0;
}
li.section_item a {
	font-size: 16px;
	text-decoration: none;
}
li.section_item a:hover {
	color: #E9AB17;
}
/* =============================================== */
/* Section Index                                   */
/* =============================================== */
#section_list li {
	display: inline-block;
	margin: 10px;
	font-size: 18px;
}
/* =============================================== */
/* Sections Show								   */
/* =============================================== */
div#section_show {
	margin: 10px 10px 10px 0;
}
#section_article_list {
	list-style-type: none;
	margin: 10px 0;
}
#section_article_list ul li{
	display: inline-block;
	margin: 4px 0;
}
#section_article_list ul:hover {
	background: #ffddaa;
}
#section_article_list li.article_position{
	position: absolute;
}
#section_article_list li.article_title{
	position: relative;
	margin-left: 20px;
	width: 200px;
}
#section_article_list li.article_author{
	position: relative;
	margin-left: 20px;
	width: 100px;
}
#section_article_list li.article_date{
	position: relative;
	margin-left: 20px;
	width: 100px;
}
#section_article_list li.article_controls{
	position: relative;
	margin-left: 20px;
	width: 160px;
}
#section_article_list_headers li {
	font-weight: bold;
}

/* =============================================== */
/* Sections Edit								   */
/* =============================================== */
div#section_edit {
    margin-bottom: 25px;
}

