<!--partial for header of section#show; needs variable 'section' & on_back'; used by front and back-->
<h3>
  <span id="section_name" class="fancy_font"><%= section.name %></span>

  <% if on_back %>
    <% if can? :update, Section %><%= link_to 'Edit', edit_admin_section_path(section), :class=>"small" %><% end %>
    <%= link_to '>>', section, :class=>"small" %>
  <% elsif logged_in? %><!--must be on front-->
    <div class="right">
      <%= link_to '<<', admin_section_path(section), :class=>"small" %>
    </div>
  <% end %>
</h3>

