<!--partial for header of section#show; needs variable 'section'; used by front and back-->
<h3>
  <%= section.name %>
  <% if on_back %>
    <% if can? :update, Section %><%= link_to 'Edit', edit_admin_section_path(section), :class=>"small" %><% end %>
    <%= link_to '>>', section, :class=>"small" %>
  <% elsif logged_in? %><!--must be on front-->
    <%= link_to '<<', admin_section_path(section), :class=>"small" %>
  <% end %>
</h3>