<!--sections/index-->
<div id="sections_index">
	<p>Drag left or right to change the order.</p>
	<ul id="section_list">
		<% @sections.each do |section| %>
			<%= content_tag_for :li, section do %>
				<span class="handle small">&ltdrag&gt</span><br>
				<%= link_to section.name, admin_section_path(section), :class=>"no_line" %>
			<% end %>
		<% end %>
	</ul>
 	<%= sortable_element 'section_list', :url => sort_admin_sections_path, :constraint => :horizontal,
 												:handle => 'handle' %>
</div>
