<!--admin/free_spaces/show - previews the content (e.g. to test code)-->
<h3>Free Space: <%= @free_space.name %></h3>

<p>This is what the free space would look like.</p>

<div id="free_space_content">
  <%= @free_space.content %>
</div>

<div id="directions">
  <%= link_to 'Edit', edit_admin_free_space_path(@free_space) %> |
  <%= link_to 'Back', admin_free_spaces_path %>
</div>

