<!--partial for header of page#show; needs variable 'page'; used by front and back-->
<h2>
  <%= page.title %>
  <% if logged_in? %>
		<% if can? :manage, Page %>
			<%= link_to 'Edit', edit_admin_page_path(page), :class=>"small" %>
			<%= link_to "<<", admin_pages_path, :class=>"small" %>
		<% end %>
  <% end %>
</h2>

