<!--partial for header of page#show; needs variable 'page'; used by front and back-->
<h2>
  <%= page.title %>
  <% if logged_in? %>
		<% if can? :manage, Page %>
			<%= link_to 'Edit', edit_admin_page_path(page), :style => 'font-size: 10px' %>
			<%= link_to "<<", admin_pages_path, :style => "font-size: 10px" %>
		<% end %>
  <% end %>
</h2>

