<!--static#backside - the backside home page-->
<div id="front_page">
	<%= render :partial => "articles/article_preview_top", :locals => { :article => @articles[0] } %>
	<% for article in @articles[1..-1] %>
		<%= render :partial => "articles/article_preview", :locals => { :article => article } %>
	<% end %>
</div>
