<!--static#backside - the backside home page-->
<div id="back_home">
  <h2>Welcome, <%= current_user.full_name %>.</h2>
  <p>
    You can modify X Y and Z here.
  </p>
	<p>
		<%= link_to "New Article", new_admin_article_path, :class => "button right" %>
	</p>
</div>

