<!--subscribers/new-->
<div id="subscriber_new">

  <h3>Stay in touch with JD Rampage.</h3>
  <p>
    Whenever we have a major release of articles (typically once a month), you'll get a friendly email.
    You may always unsubscribe if you truly want to.
  </p>
  <%= form_for :subscriber do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.submit 'Subscribe' %>
  <% end %>
</div>