<!--admin/users/index-->
<div id="users_index">

<ul id="user_list">
	<li>
		<ul id="user_list_headers">
			<li class="">#</li>
			<li class="">asdf</li>
		</ul>
	</li>
	<% @users.each do |user| %>
		<%= content_tag_for :li, user do %>
			<ul class="items_within_user">
			
			</ul>
		<% end %>
	<% end %>
</ul>

</div>
