<!--used in both layouts-->
<ul id="pages_row">
	<% Page.all.each do |page| %>
		<%= content_tag_for :li, page do %>
			<%= link_to page.title, page, :class => "footer_link" %>
		<% end %>
	<% end %>
	<li><%= link_to "Meet the Staff", staff_path, :class => "footer_link" %></li>
</ul>