<!DOCTYPE html>
<html>
<head>
  <title>Jdrampage</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<div class="container">
	<div id="container_hd">
	
	</div>

	<div id="container_bd">
	
	<%= yield %>
	
	</div>
	
	<div id="container_ft">
	
	</div>
	
</div>

</body>
</html>